// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.question {
  color: red;
}

.description {
  color: green;
}

.notice {
  color: green;
  font-weight: bold;
}
